@import "./variables";
@import "./mixin";

@mixin dark-mode($theme) {
	@if ($theme) {
		background-color: $bg-header-footer--dark;
		color: white;
	} @else {
		background-color: $bg-header-footer;
		color: black;
	}
}

@mixin btn-change-dark-mode($theme) {
	@if ($theme) {
		background-color: $bg-header-footer--dark;
		color: white;
		border: 1px white solid;
		border-radius: 8px;
	} @else {
		background-color: $bg-header-footer;
		color: black;
		border: 1px solid black;
		border-radius: 8px;
	}
}
