@mixin flexRow {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

@mixin spacingMarginRight($spacing) {
	margin-right: $spacing;
}
