@import "./variables";
@import "./mixin";
@import "./reset.scss";
@import "./function";

body {
	// DARK AND LIGHT MODE

	// HEADER

	#header {
		@include flexRow;
		@include setHeaderFooter;
	}

	.dark-mode {
		@include dark-mode(true);
	}

	.light-mode {
		@include dark-mode(false);
	}

	.socials {
		@include flexRow;

		a {
			text-decoration: none;
			.dark-mode {
				@include dark-mode(true);
			}

			.light-mode {
				@include dark-mode(false);
			}
		}

		i {
			font-size: 2rem;
			@include spacingMarginRight(50px);
		}
	}

	#links ul {
		list-style-type: none;
		font-size: 1.5rem;
		@include flexRow;

		li {
			@include spacingMarginRight(15px);
		}

		.dark-mode {
			@include dark-mode(true);
		}

		.light-mode {
			@include dark-mode(false);
		}

		a {
			text-decoration: none;
			color: black;
			transition: all 0.5s ease-in-out;

			&:hover {
				color: blueviolet;
				transform: scale(1.2);
				border-radius: 8px;
				background-color: white;
				padding: 2px 4px;
				border: 1px solid blueviolet;
			}
		}
	}

	// ELEMENTI DEL MAIN

	// SECTION HERO

	#hero {
		@include spacingSection;
	}

	#hero__img {
		background-image: url("../img/team-work.jpg");
		@include backgroundImgageContain // background-position: center;
			// background-size: contain;
			// background-repeat: no-repeat;
;
	}

	// SECTION PARTNERSHIP

	#partnership__spacing {
		@include spacingSection;
	}

	#partnership__title {
		text-align: center;
	}

	#partnership__box {
		@include flexRow;
		gap: 15px;
	}

	.partnership__box--img {
		background-image: url("../img/logo/attack_titan.png");

		@include backgroundImgageContain;
		@include setHeightWidth(200px, 180px);
	}

	// SECTION TESTIMONIALS

	#testimonials {
		@include spacingSection;
		text-align: center;
	}

	.carousel__img {
		height: 570px;
	}

	// FOOTER

	#footer {
		@include setHeaderFooter;
		@include flexRow;
		@include spacingSection;
		padding: 1.5rem 0;
	}

	#contacts ul,
	#where-are ul {
		list-style-type: none;
	}
}
